<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:g="http://www.backbase.com/2008/gadget" xml:lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

        <title>{{title}}</title>

        <!--script type="text/javascript" src="{{dashed}}.js"></script-->
        <!--link rel="stylesheet" href="{{dashed}}.css"/-->

        <meta name="author" content="Backbase"/>
        <meta name="copyright" content="Copyright 2003-2013 Backbase b.v."/>
        <meta name="description" content=""/>
    </head>
    <body class="bp-{{dashed}}" g:onload="requireWidgetWrapper(__WIDGET__, '{{dashed}}', 'init');">

    </body>
</html>